.functionnement h2{
            padding-top: 20px;
            padding-bottom: 10px;
 }


.function-container{
    counter-reset: number;
    
    justify-content: center;
    @media (min-width: $desk-breackpoint){
        //@include flex(flex, space-between);
        display: flex;
        justify-content: space-between;
         
      }
      padding-bottom: 2rem;

    .function-choise{
        position: relative;
        &::before{
            content: counter(number);
            counter-increment: number;
            color: white;
            background-color: $color-primary;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            position: absolute;
            left: -1rem;
            top: 50%;
            transform: translateY(-50%);
            @include flex(center, center);     
        }

        background-color: $color-background;
        border-radius: 15px;
        padding: 5px 0px 5px 30px;
        margin: 0px 15px 25px 10px;
        display: flex;
        @include shadow();

        &:hover{
            @include zoomEffet();
            cursor: pointer;
            background-color: 0px 3px 8px 2px #ffdff6;
            box-shadow:  0px 3px 8px 2px #ffdff6;;
            .text .fas{
                color: $color-primary;
            }
           
        }
        @media (min-width: $desk-breackpoint){
            width: 28%;
             
          }
          .text .fas{
            padding-right: 15px;
            color: grey;
            transition: all 400ms ease-in-out;
        }
    }
    

    
}
