.header{
 
    span{
       position: absolute;
       left: 25px;
       top: 50%;
       transform: translateY(-50%);
    }
            
}
.menu-img img{
    width: 100%;
    height: 60vw;
    object-fit: cover;
    object-position: center;
    @media (min-width: $desk-breackpoint){
        height: 40vw;
    }
}

.restaurant-page{
    position: relative; 
    background-color: $color-background;
    border-radius: 45px 45px 0 0;
    margin-top: -60px;
    padding:0 2rem;

    .page-name{
    position: relative;
    &:hover{
        .fas{opacity: 1;
            transform: translateY(-50%) scale(1.2);
        }
        .far{display: none;}
        
    }

    i{
        position: absolute;
        font-size: 2rem;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    i.fas{
        color: transparent;
        background-image: linear-gradient($color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
        
    }
}
}


.restaurant-page-container{
    flex-wrap: wrap;
    @media (min-width: $desk-breackpoint){
        @include flex(center, space-between);
        padding: 2rem;
    }
    h3{
        font-weight: 400;
        position: relative;
        margin: 20px 0px 40px 12px;
      

       &::after{
        content: "";
        height: 5px;
        width: 50px;
        background-color: $color-tertiary;
        position: absolute;
        left: 1px;
        top: 25px;
       }
    }
    section{
        @media (min-width: $desk-breackpoint){
        width: 30%;
        }
        
        
    }
   
}

.entrees, .plats, .desserts{
    animation: fadeIn  3s;
}
.menu_item{
    position: relative;
    display: flex;
    height: 95px;
    background-color: white;
    border-radius: 15px;
    margin: 0px 10px 25px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    @include shadow();
    animation-direction: normal;
    
    &:hover .menu_icon{
                opacity: 1;
               width: 80px;
               
                i{
                    animation: slide-check 500ms 150ms ease-out;
                       
                }
    }
    .menu_text{
        padding: 0 1rem 0 1rem;
        margin-top: -5px;
        overflow: hidden;
        h4{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        p{
            margin-top: -10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
    }
    .menu_price{
        padding: 1rem;
       margin-left: auto;
       font-weight: bold;
       display: flex;
       align-items: flex-end;
    }
    .menu_icon{
        opacity: 0;
        width: 0;;
        height: 100px;
        background-color: $color-tertiary;
        overflow: hidden;
        border-radius: 0px 15px 15px 0px;
       flex-shrink: 0;
       @include flex(center, center);
       color: white;
       transition: all 1s;
       .fas{
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        color: $color-tertiary;
        @include flex(center, center);
        
       }
       
       
       
    }
    
    
    
    
    
    
}

.page-name{
    @include flex(flex, space-between);
    font-family: $font-secondary;
    padding: 2rem;
    @media (min-width: $desk-breackpoint){
        align-self: center;
    }
}

